<div class="list">
<a href="" ng-click="addItem = !addItem" class="addTask">+ Add a New Task</a>
	<div class="add" ng-show="addItem">
		<input type="text" ng-model="newTodo.name">
		<button ng-click="addTodo(newTodo)">Add</button>
	</div>
	<div class="item" ng-repeat="todo in todos | orderBy: 'completed'" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-init="todo.completed = false">

		<input type="checkbox" ng-model="todo.completed" />
		<span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>
		<label ng-click="editing = true" ng-hide="editing">{{todo.name}}</label>
		<input type="text" ng-model="todo.name" ng-blur="editing = false;" ng-show="editing" ng-change="todo.edited = true" class="editing-label">
		<div class="actions">
			<a href="" ng-click="saveTodo(todo)">Save</a>
			<a href="" ng-click="deleteTodo(todo, $index)" class="delete">Delete</a>
		</div>
	</div>
</div>