<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-12">
		<div class="bg_white  text-center">
			<div class="city" ng-cloak>{{cityName}},
			<span class="temp_btn" ng-click="tempBtn()">
				<span ng-class="{selected: !tempF}">F</span>
				<span class="selected">/</span>
				<span ng-class="{selected : tempF}">C</span>
			</span>
			</div>
			<div class="row">
				<div class="col-sm-6">
					For:
					<label class="radio-inline">
						<input type="radio" ng-model="limit" name="limit" value="3" checked>3</label>
					<label class="radio-inline">
						<input type="radio" ng-model="limit" name="limit" value="6">6</label>
					<label class="radio-inline">
						<input type="radio" ng-model="limit" name="limit" value="9">9</label>
					days
				</div>
				<div class="col-sm-6">
					<a href="#/">&laquo; Back to search</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4" ng-repeat="list in lists | limitTo : limit">
		<weather-report weather-day="list" convert-date="date(dt)" convert-temp="tempSwitch(temp)" date-format="MMM dd"></weather-report>
	</div>
</div>