<div class="row bg_white text-center">
	<div class="city" >{{cityName}}</div>
	<div class="col-sm-6">
		For:
		<label class="formgroup">
			<input type="radio" ng-model="limit" name="limit" value="3" checked>3</label>
		<label class="formgroup">
			<input type="radio" ng-model="limit" name="limit" value="5">5</label>
		<label class="formgroup">
			<input type="radio" ng-model="limit" name="limit" value="7">7</label>
		days
	</div>
	<div class="col-sm-6">
		<a href="index.html">&laquo; Back to search</a>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-4" ng-repeat="list in lists | limitTo : limit">
		<div class="bg_white  text-center">
			<h2>{{date(list.dt) | date : 'MMM dd'}}</h2>
			<div class="row">
				<div class="col-xs-6">
					<img class="respons-image" ng-src="http://openweathermap.org/img/w/{{list.weather[0].icon}}.png" alt=""></div>
				<div class="col-xs-6">
					<span class="temp">{{list.temp.day | number : 0}}&deg;</span>
				</div>
			</div>
			<p>{{list.weather[0].description}}</p>
		</div>
	</div>
</div>